<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Having a bad day?!</title>
</head>
<div class="header">
  <header>
    <h1>HAVING A BAD DAY? </h1>
  </header>
</div>
<section class="1">

  <body>

    <style>
      body {
 background: url(/static/img/ny.jpeg) no-repeat center center fixed;
        background-size: 100px 80px;
        -moz-background-size: 1000px;
        -o-background-size: 5000px;
        background-size: 1550px;
     opacity: 0.9;
 
  
</style>

    <div id="Disen">

      <div class="row">


        <a class="anchor" id="try-demo"></a>
        <div class="row">


          <form action = "http://localhost:5000/result" method = "POST">

            <input type="text" id="Pain" name="Pain" placeholder="Discribe your pain in 25 Words max.." maxlength="350">


            <label for="age">Age</label>
            <input type="Age" id="Age" name="Age" placeholder="Your age.." size="4" maxlength="3">



            <label for="Location">Location</label>
            <select type="Location" id="Location" name="Location" placeholder="Your Location..">
              <option></option>
              <option value="Location">Oslo</option>
              <option value="Location">Bergen</option>
              <option value="Location">Trondheim</option>
              <option value="Location">Tromso</option>
            </select>





            <label for="Gender">Gender</label>
            <select name="Gender">
              <option></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Trans">Transgender</option>
            </select>

            <br>

            <input type="submit" value="Send">

          </form>
        </div>
      </div>
    </div>
</section>


<section class="side2">

  <div class="col-inner">
    <form>
      <h3>FOR ENTREPRENEURS AND BUSINESSES</h3>
      <p>MAKE PAINS TO BRAINS.</p>

      <input type="text" name="search" placeholder="Search..">
    </form>
  </div>
  <div> <button>Action <a href=""> </button>
  </div>
</section>

<section>

  <div id="side3">

    <form>
      <div class="side3">

        <h1>FOR EVERY PAIN YOU SHARE WE RELIEVE PAIN </h1>
        <h3>I’m a paragraph. Use this space to tell people more about what you do and the services you offer. Double
          click here or click Edit Text to get started.</h3>
        <img src="AdobeStock_191487976.jpeg" width="50%;" height="100%;">
    </form>
  </div>
  </div>
  </form>
</section>
<section>

  <body>

    <div class="Contact">
      <h3>Contact Form</h3>

      <div class="container">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="name" id="fname" name="firstname" placeholder="Your name..">

          <label for="lname">Email</label>
          <input type="text" id="lname" name="Email" placeholder="Your Email..">


          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>


</section>



</html>